<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>
      <h1 style="text-align: center">👑 Leaderboard 👑</h1>
    </ion-label>
  </ion-item>

  <!-- <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{players?.[0].name}}</ion-card-title>
        <ion-card-subtitle>🎉 This Month's Top Player 🏆</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of mountains"
              src="{{ players?.[0].picture }}"
            />
          </ion-avatar>
          <ion-label>Points earned: {{players?.[0].points}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card> -->

  <!-- <ion-item *ngFor="let player of players; let i = index">
      <ion-label> {{ i+1 }} </ion-label>
      <ion-avatar>
        <img src="{{ player.picture }}" />
      </ion-avatar>
      <ion-label> {{ player.name }} </ion-label>
      <ion-label slot="end"> {{ player.points }} </ion-label>
    </ion-item> -->

  <ion-item
    *ngFor="let player of players; let i = index"
    [class.c1]="i%5===0"
    [class.c2]="i%5===1"
    [class.c3]="i%5===2"
    [class.c4]="i%5===3"
    [class.c5]="i%5===4"
  >
    <div class="row">
      <p><strong>{{i + 1}}</strong></p>
      <ion-avatar class="ion-avatar">
        <img src="{{ player.picture }}" id="image" />
      </ion-avatar>
      <p style="font-size: 1.15rem"><strong>{{ player.name }}</strong></p>
      <div>
        <p>{{player?.points}}</p>
        <p>💵</p>
      </div>
    </div>
  </ion-item>

  <!-- </div> -->
</ion-content>
