<ion-header>
  <ion-toolbar>
    <ion-title>Leaderboard 🏆</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div *ngFor="let player of playerArray; index as i">
  <ion-card *ngIf="player.rank == 1" >  
    <ion-card-header>
      <ion-card-title>{{player.name}}</ion-card-title>
      <ion-card-subtitle>🎉 This Month's Top Player 🏆</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of mountains" src="https://s.wsj.net/public/resources/images/P1-BN430_crefor_G_20131006185959.jpg" />
          </ion-avatar>
        <ion-label>Points earned: {{player.points}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
    
  <ion-item *ngIf="player.rank > 1">
    <ion-label slot="start">
      {{ player.rank }}
    </ion-label>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="{{ player.profilePicture }}" />
    </ion-avatar>
    <ion-label>
      {{ player.name }}
    </ion-label>
    <ion-label slot="end">
      {{ player.points }}
    </ion-label>
  </ion-item>
  </div>
</ion-content>
