<ion-tabs>
  <ion-header>
    <ion-toolbar color="dark">
      <div class="header">
        <p>{{user?.points}} Points</p>
        <img
          src="{{user?.picture}}"
          class="avatar"
          (click)="goToProfilePage()"
        />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="user-feed">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>My Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
