<ion-content [scrollEvents]="true">
  <h1 id="topHeading"><strong>Events near Rochester, NY</strong></h1>

  <div *ngIf="events.length > 0">
    <div
      (click)="onEventClick(event.id)"
      *ngFor="let event of events; let i = index"
    >
      <ion-row>
        <ion-avatar class="ion-avatar">
          <img src="{{ event.creator.picture }}" id="image" />
          <img id="image" />
        </ion-avatar>
        <div class="eventDetails">
          <p><strong>{{ event.name }}</strong></p>
          <p style="font-size: 75%">
            <strong>By {{ event.creator.name }}</strong>
          </p>
        </div>
      </ion-row>

      <div class="image-container">
        <img id="banner" [src]="event.banner" />
      </div>

      <!-- <ion-card>

    <ion-card-title id="cardTitle"> {{ event.name }} </ion-card-title>

    <ion-card-subtitle>
      {{ dataService.getPlayerName(event.creatorPlayerID) }}
      
    </ion-card-subtitle>

    <ion-card-content> {{ event.description }} </ion-card-content>
  </ion-card> -->
    </div>
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="upload=false"
  >
    <ion-fab-button id="opens" color="light">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="opens">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" size="large" >
            <ion-button color="tertiary" (click)="cancel()" class="cancelButton"><h6>Cancel</h6></ion-button>
          </ion-buttons>
          <ion-title class="ionTitle">Create an event</ion-title>
            <ion-buttons 
            slot="end"
            *ngIf="!upload"
            type="button"
           expand="block"
           (click)="takePicture()"
           class="createButton">
              <ion-chip>Create</ion-chip>
            </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="createEvent()" [formGroup]="credentials">
          <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input
              placeholder="Event Name"
              formControlName="name"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(name.dirty || name.touched) && name.errors"
              >Name is invalid</ion-note
            >
          </ion-item>
          <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input
              placeholder="Event Location"
              formControlName="location"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(location.dirty || location.touched) && location.errors"
              >Location is invalid</ion-note
            >
          </ion-item>
          <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input
              placeholder="Event description"
              formControlName="Description"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(description.dirty || description.touched) && description.errors"
              >Description is invalid</ion-note
            >
          </ion-item>
        </form>
        <ion-button
          *ngIf="!upload"
          type="button"
          expand="block"
          (click)="takePicture()"
          >Upload Picture <ion-icon name="cloud-upload-outline"></ion-icon
        ></ion-button>
        <ion-button *ngIf="upload" type="button" color="success" expand="block"
          >Picture Uploaded!</ion-button
        >
        <img *ngIf="upload" [src]="user.imageUrl" />
        <ion-button
          *ngIf="upload"
          type="button"
          color="warning"
          expand="block"
          (click)="takePicture()"
          >Upload a different one?</ion-button
        >
      </ion-content>
      <ion-button
        (click)="confirm()"
        (click)="createEvent()"
        class="main"
        color="warning"
        expand="block"
      >
        Save Event
        <ion-icon name="enter-outline" size="large"> </ion-icon>
      </ion-button>
    </ng-template>
  </ion-modal>
</ion-content>
