<ion-content [scrollEvents]="true">
  <ion-card
    *ngFor="let event of eventArray; 
    index as i"
    color="warning"
    (click)="onEventClick()"
  >
    <img src="{{ event.eventPicture }}" id="image" />

    <ion-card-title (click)="onEventClick" (click)="dataService.sendPageEvent(event)"> {{ event.eventName }} </ion-card-title>

    <ion-card-subtitle>
      {{ event.eventCreator }}
      <ion-avatar>
        <img src="{{ dataService.getPlayerPicture(event.eventCreator) }}" id="image" />
      </ion-avatar>
    </ion-card-subtitle>

    <ion-card-content> {{ event.eventDescription }} </ion-card-content>
  </ion-card>
</ion-content>
