<ion-content [scrollEvents]="true">

  <ion-card
    (click)="onEventClick()"
    (click)="dataService.sendPageEvent(event)"
    *ngFor="let event of eventArray; 
    index as i"
    color="warning" >
    
    <img [src]="event.banner" />

   
    <ion-card-title id="cardTitle"> {{ event.name }} </ion-card-title>

    <ion-card-subtitle>
      {{ dataService.getPlayerName(event.creatorPlayerID) }}
      <ion-avatar>
        <img src="{{ dataService.getPlayerPicture(event.creatorPlayerID) }}" id="image" />
        <img id="image" />
      </ion-avatar>
    </ion-card-subtitle>

    <ion-card-content> {{ event.description }} </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="upload=false">
    <ion-fab-button id="opens" color="light">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="opens" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Create an event</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating" color="warning">Enter your event name</ion-label>
          <ion-input [(ngModel)]="userEventName" type="text" placeholder="Event Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="warning">Enter your location</ion-label>
          <ion-input [(ngModel)]="userEventLocation" type="text" placeholder="Event location"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="warning">Description</ion-label>
          <ion-input [(ngModel)]="userEventDescription" type="text" placeholder="Write a short description"></ion-input>
        </ion-item>
          <ion-button *ngIf="!upload" type="button" expand="block" (click)="takePicture()" >Upload Picture <ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
          <ion-button *ngIf="upload" type="button" color="success" expand="block" >Picture Uploaded!</ion-button>
          <img *ngIf="upload" [src]="user.imageUrl" />
          <ion-button *ngIf="upload" type="button" color="warning" expand="block" (click)="takePicture()" >Upload a different one?</ion-button>
      </ion-content>
        <ion-button
          (click)="confirm()"
          (click)="submitUserEvent()"
          class="main"
          color="warning"
          expand = "block">
          Save Event  
       <ion-icon 
          name="enter-outline"
          size="large">
      </ion-icon>
      </ion-button>
    </ng-template>
  </ion-modal>

</ion-content>
