<ion-content *ngIf="event">
  
  <!-- <ion-avatar>
    <img src="{{ event.creator?.picture }}">
  </ion-avatar>

  <div class="profile-stats">

    <ul>
      <li><span class="profile-stat-count">164</span> posts</li>
      <li><span class="profile-stat-count">188</span> followers</li>
      <li><span class="profile-stat-count">206</span> following</li>
    </ul>

  </div>
 
  <h1 style="text-align:center;"><strong>{{ event?.name }}</strong></h1> -->

  <h1 style="text-align:center;"><strong>{{ event?.name }}</strong></h1>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{ event?.imageArray.length }}</span> Photos</li>
					<li><span class="profile-stat-count">206</span> Favorites</li>
          <li><ion-button (click)="goToMap()"><ion-icon name="navigate-outline"></ion-icon></ion-button></li>
				</ul>

			</div>

			

  
  

  

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    id="open"
   >
    <ion-fab-button id="open" color="light">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- 
  <ion-avatar>
    <img src="{{ event.creator.picture }}" id="image" />
  </ion-avatar>

  

  <ion-modal trigger="open">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Upload your event image</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-button *ngIf="!upload" type="button" expand="block" (click)="takePicture()" >Upload Picture <ion-icon name="cloud-upload-outline"></ion-icon></ion-button>   
          <ion-button *ngIf="upload" type="button" color="warning" expand="block" (click)="takePicture()" >Upload a different one?</ion-button>
      </ion-content>
        <ion-button
          (click)="confirm()"
          class="main"
          color="success"
          expand = "block">
          Save 
       <ion-icon 
          style="margin-left: 10px;"
          name="save-outline"
          size="small">
      </ion-icon>
      </ion-button>
    </ng-template>
  </ion-modal>  -->

  <image-feed class ="bg-image"></image-feed>
</ion-content>
