<ion-grid>
  <ion-row>
    <ion-col offset-4>
      <div><img src="{{ event?.imageArray[0] }}"></div>
    </ion-col>
    <ion-col>
      <div><img src="{{ event?.imageArray[1] }}"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-4>
      <div><img src="{{ event?.imageArray[2] }}"></div>
    </ion-col>
    <ion-col>
      <div><img src="{{ event?.imageArray[3] }}"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-4>
      <div><img src="{{ event?.imageArray[4] }}"></div>
    </ion-col>
    <ion-col>
      <div><img src="{{ event?.imageArray[5] }}"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-4>
      <div><img src="{{ event?.imageArray[6] }}"></div>
    </ion-col>
    <ion-col>
      <div><img src="{{ event?.imageArray[7] }}"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-4>
      <div><img src="{{ event?.imageArray[8] }}"></div>
    </ion-col>
    <ion-col>
      <div><img src="{{ event?.imageArray[9] }}"></div>
    </ion-col>
  </ion-row>
</ion-grid>